anytree==2.8.0
apparmor==3.1.2
appdirs==1.4.4
asciidoc==10.2.0
attrs==22.1.0
autocommand==2.2.2
btrfsutil==6.0.2
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
cryptography==38.0.3
Cython==0.29.32
distro==1.8.0
docopt==0.6.2
docutils==0.19
idna==3.4
inflect==6.0.2
jaraco.context==4.2.0
jaraco.functools==3.5.2
jaraco.text==3.11.0
lensfun==0.3.3
LibAppArmor==3.1.2
lxml==4.9.1
Mako==1.2.4
Markdown==3.4.1
MarkupSafe==2.1.1
meson==0.64.1
more-itertools==9.0.0
ordered-set==4.1.0
packaging==21.3
pipreqs==0.4.11
ply==3.11
psutil==5.9.4
pwquality==1.4.5
pycparser==2.21
pydantic==1.10.2
Pygments==2.13.0
pyparsing==3.0.9
requests==2.28.1
shiboken2==5.15.7
six==1.16.0
SSSDConfig==2.8.1
team==1.0
tomli==2.0.1
trove-classifiers==2022.10.19
typing_extensions==4.4.0
urllib3==1.26.13
validate-pyproject==0.10.1
yarg==0.1.9
